{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title>PRUEBA</title>
    </head>

    <body>
        <header>
            <h1>HOLAA</h1>
            <nav class="nav">
                <ul class="nav-list">
                    <li><a href="#">Iniciar sesión</a></li>
                    <li><a href="#">registrarse</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>