{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title>PRUEBA</title>
    </head>

    <body>
        <header>
            <h1>HOLA mundo</h1>
            <nav class="nav">
                <ul class="nav-list">
                    <li><a href="{% url 'login' %}">Iniciar sesión</a></li> 
                    <li><a href="{% url 'registro' %}">registrarse</a></li>
                </ul>
            </nav>
        </header>
        
        <div class="container">
            <div class="child-container">
                <div class="texto">
                    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga reprehenderit et quisquam commodi perferendis repudiandae neque sed, possimus porro, placeat, beatae optio libero aperiam corporis. Consectetur adipisci odit iste praesentium?</h1>
                </div>
            </div>
        </div>
    </body>
</html>
